<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->
        <!--<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/your_database_name</property>-->

        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Test02</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Abhishek@1</property>

        <!-- JDBC connection pool (use built-in) -->
        <property name="hibernate.connection.pool_size">10</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>


        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>



        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Automatically create tables -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Enable second-level and query cache -->
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.JCacheRegionFactory</property>
        <property name="hibernate.javax.cache.provider">org.ehcache.jsr107.EhcacheCachingProvider</property>
        <property name="hibernate.javax.cache.uri">ehcache.xml</property>

        <!-- Mention your entity class -->
        <!--        <mapping class="Hibernate_Learnings.Hibernate.Aliens"/>-->
        <!--        <mapping class="Hibernate_Learnings.Hibernate.AnnotationsClasses"/>-->
        <!--        <mapping class="Hibernate_Learnings.Hibernate.AliensV2"/>-->
        <!--        <mapping class="Hibernate_Learnings.Hibernate.Student"/>-->
<!--        <mapping class="Hibernate_Learnings.Hibernate.Caching.LevelCaching"/>-->
<!--        <mapping class="Hibernate_Learnings.Hibernate.HQL.HQLClass"/>-->
        <mapping class="Hibernate_Learnings.Hibernate.HOSPLC.HOSPLC_Class"/>


    </session-factory>
</hibernate-configuration>


